.jumbortron_about{
    background-image: url('../public/images/about-jumb.jpg');
    background-size: cover !important;
    background-position: center !important;
    
}
.parallax_part{
        /* The image used */
        background-image: url("../public//images//Parallax.jpg");
      
        /* Set a specific height */
        min-height: 90vh;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
}