.s1 {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-image: url("../public/images/section1-slide1.jpg");
  height: 100vh !important;
}
.s2 {
  background-image: url("../public/images/section1-slide2.jpg");
  background-size: cover;
  height: 100vh !important;
}
.heading {
  color: #fff;
  text-align: center;
}
.s3 {
  background-image: url("../public/images/section1-slide3.jpg");
  background-size: cover;
  object-fit: cover;
  height: 100vh !important;
}
.section1_subTxt{
  color:#fff;
  font-weight: 400 !important;
  font-size: 20px;
  width: 70%;
}
.btn_contact{
  background-image: linear-gradient(to top, #080d23, #1b2a44, #2e4967, #406a8b, #528db0);
}
.btn_about{
  background-image: linear-gradient(to top, #080d23, #1b2a44, #2e4967, #406a8b, #528db0);
}

.section2{
  background-image: url("../public/images/sec2-bg.jpg");
  background-size: cover;
  object-fit: cover;
  height: 100vh !important;
}

.heading_sec2{
  color: #053a93;
  font-weight: bold;
  font-size: 40px;
}

.img_sec2{
  object-fit: contain !important;
}

.sec2_main{
  margin-top: 89px !important;
}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #fff !important;
}
.fp-tableCell {
  vertical-align: top !important;
}
.btns_section1 {
  width: 60% !important;
  display: flex;
  margin-top: 40px;
}
@media (max-width: 492px) {
  .heading_section1 {
    font-size: 35px !important;
  }
  .btns_section1 {
    width: auto;
    display: block;
  }
  .btn_contact {
    margin-top: 20px;
    margin-left: 10px !important;
  }
  .section1_subTxt{
    font-size: 16px;
    width: 100% !important;
  }
  .text_sec2{
    font-size: 13px !important;
  }
 
}
@media(max-width: 320px){
  .section1_subTxt{
    font-size: 11px !important;
  }
  .heading_section1 {
    font-size: 24px !important;
  }
}
@media (max-width: 1024px) {
  .btns_section1 {
    width: 100% !important ;
    display: block;
  }
}
@media (max-width: 1008px) {
  .btns_section1 {
    width: 100% !important ;
    display: block;
  }
  .btn_contact {
    margin-top: 20px;
  } 
}
@media(max-width: 995px){
  .hero_sect1{
    flex: none;
  }
  .btn_contact {
    margin-top: 8px;
  }
}
@media(min-width:768px){
  .hero_sect1{
    max-width: 90% !important;
  }
}
@media(max-width:767px){
  .sec2_div1{
    display: none !important;
  }
  .heading_sec2{
    font-size: 28px !important;
  }
}

@media (max-width: 280px) {
  .heading_sec2{
    font-size: 22px !important;
  }
  .sec2_main{
    margin-top: 82px !important;
  }
}
