.s1 {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  height: 100vh !important;
  object-fit: cover;
}
.s2 {
  background-image: linear-gradient(
    to right top,
    #051637,
    #0a2a60,
    #0e408b,
    #1158ba,
    #1270eb
  );
  background-size: cover;
  object-fit: cover;
  height: 100vh !important;
}
.heading{
  color: #fff;
  text-align: center;
}
.s3 {
    background-image: linear-gradient(to right top, #053037, #005a62, #00888c, #00b8b4, #12ebd8);
    background-size: cover;
    object-fit: cover;
    height: 100vh !important;
  }
  .s4 {
    background-image: linear-gradient(to right top, #051937, #002265, #002894, #0027c1, #1212eb);
    background-size: cover;
    object-fit: cover;
    height: 100vh !important;
  }
  #fp-nav ul li a span, .fp-slidesNav ul li a span{
      background-color: #fff !important;
  }
  .fp-tableCell{
      vertical-align: top !important;
  }
.btns_section1{
  width: 60% !important;
  justify-content: space-around;
  display: flex;
  margin-top: 40px;
}
  @media(max-width:492px){
    .heading_section1{
      font-size: 35px !important;
    }
    .btns_section1{
      width: auto ;
      display: block;
    }
    .btn_contact{
      margin-top: 20px;
      margin-left: 0px !important;
    }
  }
  @media(max-width:1008px){
    .btns_section1{
      width: 100% !important ;
      display: block;
    }
    .btn_contact{
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  @media(max-width:280px){
    .heading_section1{
      font-size: 28px !important;
    }
  }